process {
    shell = ['/usr/bin/env', 'bash', '-euo', 'pipefail']
    
    // Resource labels
    withLabel: process_low {
        cpus   = 2
        memory = 4.GB
        time   = 2.h
    }
    
    withLabel: process_medium {
        cpus   = 4
        memory = 8.GB
        time   = 4.h
    }
    
    withLabel: process_high {
        cpus   = 8
        memory = 16.GB
        time   = 8.h
    }
    

    // Script language labels
    withLabel: use_python {
        shell = ['/usr/bin/env', 'python']
    }
}

executor {
    name            = 'local'
    cpus            = 48
    memory          = '128 GB'
    queueSize       = 20
    pollInterval    = '5 sec'
    submitRateLimit = '10 sec'
}
