process {
    // =====================================
    // Default Resources
    // =====================================
    cpus = 2
    memory = 4.GB
    time = 2.h

    // =====================================
    // Resource Labels
    // =====================================
    withLabel: process_low {
        cpus = 2
        memory = 4.GB
        time = 2.h
    }

    withLabel: process_medium {
        cpus = 4
        memory = 8.GB
        time = 4.h
    }

    withLabel: process_high {
        cpus = 8
        memory = 16.GB
        time = 6.h
    }

    withLabel: process_long {
        time = 12.h
    }

    // =====================================
    // PROCESS_READS Workflow
    // =====================================
    withName: 'PROCESS_READS:FASTP' {
        label = 'process_medium'
        ext.args = [
            '-q 20',
            '-u 20',
            '-n 3',
            '-g',
            '-c',
            '-r',
            '-M 20',
            '-W 4',
        ].join(' ')
        publishDir = [
            [
                path: { "${params.outdir}/01_qc/fastp" },
                mode: 'copy',
                pattern: '*.{html,json}',
                enabled: params.debug,
            ],
            [
                path: { "${params.outdir}/01_qc/intermediate/merged" },
                mode: 'symlink',
                pattern: '*_merged.fq.gz',
                enabled: params.debug,
            ],
            [
                path: { "${params.outdir}/01_qc/intermediate/unmerged" },
                mode: 'symlink',
                pattern: '*_unmerged_*.fq.gz',
                enabled: params.debug,
            ],
        ]
    }

    withName: 'PROCESS_READS:SELEXQC' {
        label = 'process_medium'
        publishDir = [
            [
                path: { "${params.outdir}/03_filtered/sequences" },
                mode: 'copy',
                pattern: '*.filtered.fa',
            ],
        ]
    }

    withName: 'PROCESS_READS:MULTIQC' {
        label = 'process_low'
        ext.args = [
            '--fullnames',
            '--force',
            '-v',
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/00_reports/multiqc" },
            mode: 'copy',
            pattern: 'multiqc.html',
        ]
    }
        withName: 'ANALYZE_ENRICHMENT:SEQTABLE' {
        label = 'process_medium'
        publishDir = [
            path: { "${params.outdir}/04_analysis/seqtable" },
            mode: 'symlink',
            pattern: '*.parquet',
            enabled: params.debug
        ]
    }

}
